#rev_slider_34_1_wrapper #rev_slider_34_1 p.tp-caption, #rev_slider_34_1_wrapper #rev_slider_34_1 h1.tp-caption {
  text-shadow: 0px 0px 2px #444; }

.form-errors li {
  padding-left: 10px; }

body .alert.alert-danger,
body .alert.alert-success {
  line-height: 20px;
  border-radius: 0px; }

body div.multiple-select-button,
body div.single-select-button {
  border: 1px solid #e25111;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  color: #e25111;
  margin: 2px;
  cursor: pointer;
  display: inline-block; }
  body div.multiple-select-button input,
  body div.single-select-button input {
    display: none; }

body div.multiple-select-button.disable-select,
body div.single-select-button.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body div.multiple-select-button.active,
body div.single-select-button.active {
  color: #fff;
  background-color: #e25111; }

body .col-sm-3.dashboard .panel-body {
  padding: 0px; }
  body .col-sm-3.dashboard .panel-body .list-group {
    margin-bottom: 0px; }
    body .col-sm-3.dashboard .panel-body .list-group .list-group-item.active {
      background-color: #f3822f;
      border-color: #f3822f; }

.cart-icon .notification {
  position: absolute;
  top: 0.2rem;
  right: 0;
  background-color: #e25111;
  color: #fff;
  font-weight: 600;
  font-size: 0.7rem;
  display: inline-block;
  border-radius: 30px;
  padding: 0.15rem 0.3rem 0.2rem 0.35rem;
  line-height: 1; }

table.table-bordered tbody tr td p {
  padding: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #ffe144; }
  table.table-bordered tbody tr td p:last-child {
    border-bottom: 0px; }

body .modal-product-details input[type='number'], body form input[type='number'] {
  -moz-appearance: textfield; }
  body .modal-product-details input[type='number']::-webkit-inner-spin-button, body .modal-product-details input[type='number']::-webkit-outer-spin-button, body form input[type='number']::-webkit-inner-spin-button, body form input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

body button.btn.btn-outline-secondary.btn-sm.added-cart {
  background: #e25111;
  color: #ffffff; }
  body button.btn.btn-outline-secondary.btn-sm.added-cart:focus, body button.btn.btn-outline-secondary.btn-sm.added-cart:active, body button.btn.btn-outline-secondary.btn-sm.added-cart:focus:active, body button.btn.btn-outline-secondary.btn-sm.added-cart:hover, body button.btn.btn-outline-secondary.btn-sm.added-cart:before, body button.btn.btn-outline-secondary.btn-sm.added-cart:after {
    background: #e25111;
    color: #ffffff; }

@media only screen and (max-width: 1200px) {
  div.row .col-xl-8.pull-xl-4.col-lg-7.pull-lg-5.margin-top {
    margin-top: 10px; } }

img.selFile {
  max-width: 200px;
  max-height: 200px;
  float: left;
  margin-bottom: 10px; }

#mceu_13-body, #mceu_30 {
  display: none; }

.image-wrapper.selected {
  display: inline;
  border: 1px solid #e25111;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px; }
  .image-wrapper.selected img {
    opacity: 0.5; }

form.callus .btn-submit.padding {
  padding: 10px 50px; }

/*# sourceMappingURL=app.css.map */
